# Project exclude paths
/.gradle/
/build/classes/java/main/
/papi-core/build/
/papi-js/build/
/papi-core-plugin/build/
/papi-kotlin-ext/build/
/papi-essentials-plugin/build/
/papi-sql/build/
/.idea/
/gradle/
/build/

